@import "tailwindcss";
@import "tw-animate-css";

:root {
  --color-primary: #fff;
  --color-secondary: #000;
  --color-third: #bebebe;
}

@theme {
  --color-primary: #fffef7;
  --color-secondary: #000;
  --color-third: #bebebe;
}

.inverted {
  -webkit-mask: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%3E%3Cpath%20d%3D%22M20%2C0H100A0%2C0%200%2C0%2C1%20100%2C0V55A11%2C11%200%2C0%2C1%2089%2C66H71A11%2C11%200%2C0%2C0%2060%2C77V89A11%2C11%200%2C0%2C1%2049%2C100H10A10%2C10%200%2C0%2C1%200%2C90V20A20%2C20%200%2C0%2C1%2020%2C0Z%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E")
    no-repeat center / contain;
  mask: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%3E%3Cpath%20d%3D%22M20%2C0H100A0%2C0%200%2C0%2C1%20100%2C0V55A11%2C11%200%2C0%2C1%2089%2C66H71A11%2C11%200%2C0%2C0%2060%2C77V89A11%2C11%200%2C0%2C1%2049%2C100H10A10%2C10%200%2C0%2C1%200%2C90V20A20%2C20%200%2C0%2C1%2020%2C0Z%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E")
    no-repeat center / contain;
  width: 400px;
  height: 400px;
  background-color: var(--color-secondary);
  aspect-ratio: 1 / 1;
}

.animated-letters {
  display: inline-block;
  /* keep whitespace handling safe (not strictly required with \u00A0) */
  white-space: pre-wrap;
}

/* per-letter style + animation */
.animated-letter {
  display: inline-block; /* required for transform animations */
  opacity: 0;
  transform: translateX(-6px);
  animation: letterFade 0.06s forwards;
}

/* animation keyframes */
@keyframes letterFade {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
